body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('../imagens/Fundo.png');
    background-size: cover;
}

.login-container {
    background-color: #403D36;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 40px 30px;
    width: 350px;
    box-shadow: 0 4px 12px rgba(75, 9, 9, 0.1);
    text-align: center;
}

h1{
    font-family: 'Courier New', Courier, monospace;
}