body {
    background-color: #FFF4ED; /* Cor de fundo */
}

.container-fluid {
    padding: 0; /* Remove padding do container */
}

.d-flex {
    height: 400px; /* Altura fixa para a seção de imagens */
}

.image-container {
    position: relative;
    flex: 1; /* Faz as divs de imagem ocuparem espaço igual */

}

.img-fluid {
    width: 100%; /* Ocupa toda a largura do contêiner */
    height: auto; /* Altura automática para manter proporção */
    transition: transform 0.3s ease; /* Transição suave para o efeito de hover */
}

.image-container:hover .img-fluid {
    transform: scale(1.1); /* Aumenta a imagem ao passar o mouse */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Cor escura */
    opacity: 0; /* Inicialmente invisível */
    transition: opacity 0.3s; /* Transição suave */
}

.image-container:hover .overlay {
    opacity: 1; /* Fica visível ao passar o mouse */
}

.caption {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1.5rem;
    opacity: 0; /* Inicialmente invisível */
    transition: opacity 0.3s; /* Transição suave */
}

.image-container:hover .caption {
    opacity: 1; /* Fica visível ao passar o mouse */
}
