form{
    
    border: 1px solid gray;
    padding: 40px 30px;
    width: 350px;
    height: 760px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: center;
    color: azure;
    justify-items: auto center;
    border-radius: 10px;
    background: rgb(57,115,72);
    background: radial-gradient(circle, rgba(57,115,72,1) 0%, rgba(45,89,56,1) 30%, rgba(32,64,40,1) 100%);
}

.usuario{
    color: #204028;
    font-weight: bold;
    border: #4CAF50 3px solid;
    background-color: white;
}

.senha{
    color: #204028;
    font-weight: bold;
    border: #4CAF50 3px solid;
    background-color: white;
}

.usuario:hover{
    background: rgb(57,115,72);
    background: linear-gradient(299deg, rgba(57,115,72,1) 0%, rgba(45,89,56,1) 30%);
    font-weight:bold;
    border: #204028 3px solid;
    color: white;
}

.senha:hover{
    background: rgb(57,115,72);
    background: linear-gradient(299deg, rgba(57,115,72,1) 0%, rgba(45,89,56,1) 30%);
    font-weight:bold;
    border: #204028 3px solid;
    color: white;
}