@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=League+Spartan:wght@100..900&display=swap');

body {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('../imagens/Fundo.png');
    background-size: cover;
}

.img-fluid {
    height: 80px;
    width: 80px;
    border-radius: 20%;
}

.contato {

    margin-top: 130px;
    font-size: 15px;
    background-color: #403D36;
    height: 510px;
    width: 450px;
    padding: 20px;
    padding-left: 20px;
    border-radius: 5px;
}


h1 {

    color: white;
    font-size: 10px;

}

#nomeid,
#emailid {
    padding-left: 20px;
}

input,
textarea {
    width: 200px;
    padding: 10px;
    color: green;
    margin-left: 30px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {

    background-color: green;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.enviar {
    padding-bottom: 10px;
    background-color: green;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
}

.enviar:hover {
    background-color: lightgreen;
}

textarea {
    width: 300px;
    height: 120px;
    line-height: 20px;
    max-width: 400px;
    border-radius: 5px;
}

form label {
    margin-left: 20px;

    font-weight: bold;
}

label {
    color: white;
    margin-right: 28px;
}

#fone {
    margin-right: 8px;
}

#nome {
    margin-right: 25px;
}