@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=League+Spartan:wght@100..900&display=swap');


body {
    background-color: #FFF4ED;


}

.logo {
    height: 80px;
    width: 80px;
    border-radius: 20%;
}

.container-fluid {
    padding: 0;
}

.d-flex {
    height: 400px;

}

.image-container {
    position: relative;
    flex: 1;
    overflow: hidden;

}

.img-fluid {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease, filter 0.3s;

}

.image-container:hover .img-fluid {
    transform: scale(1.1);
    filter: brightness(0.5);

}

.overlay {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;

}

.image-container:hover .overlay {
    opacity: 1;

}

.caption {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: white;
    font-size: 1.5rem;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
    display: flex;
}

.image-container:hover .caption {
    opacity: 1;
    transform: translate(-50%, -50%);

}

.perfil:hover {
    opacity: 0.75;

}

.imagem {
    width: 20%;
    transition: filter 0.3s;

}

.imagem:hover {
    filter: brightness(0.5);

}

.image-container {
    margin: 0;

}

main {
    margin-top: 100px;
}

li {
    font-weight: bold;
}

.bemvindo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 400px;
    width: 500px;
    margin-top: 100px;
    margin-left: 20px;
    padding: 20px;
    position: absolute;
}

h1 {
    margin-bottom: 30px;
}

span {
    background-color: green;
    color: white;
    width: 10px;
    border-radius: 5px;
}

.carousel-item {
    height: 400px;

}

.carousel-inner {
    height: 25em;


}




.carousel-control-prev,
.carousel-control-next {
    background-color: transparent;
    border: transparent;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: transparent;
    border: transparent;
}

h5 {

    color: white;
    position: relative;
    margin-top: 50%;
}

p {
    color: black;

}

.paginas {
    width: 50%;
    position: relative;
    left: 45%;
    margin-top: 50px;

}

.produto {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 400px;
    width: 500px;
    margin-top: 120px;
    left: 50%;
    padding: 10px;
    position: absolute;

}

.imagem {
    margin-top: 100px;
    margin-left: 70px;
}